<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite1">
    <!--<test verbose="2" name="com.umbrella.test">-->

        <!--<packages>-->
            <!--<package name="com.umbrella.test"/>-->
            <!---->
        <!--</packages>-->

    <!--</test>-->

    <test verbose="2" name="exampletest1">
        <classes>
            <class name="invoice.LoginTest" />
        </classes>
    </test>

</suite>